:root {
  --black-color: #323232;
  --white-color: #f8f8f8;
  --red-color: #f15e5e;
  --blue-color: #6194e0;
  --purple-color: #ac67e2;

  font-size: 28px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General elements styling */

body {
  height: 100vh;
  margin: 0;
  font-family: "Krona One", sans-serif;
  background-color: var(--white-color);
  color: var(--black-color);
}

/* Header */

.header-title {
  font-size: 2rem;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 75px;
}

/* Scenes (general) */

.scenes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scenes > * {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.scene-title {
  font-size: 1rem;
}

.vertical-divisor {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: var(--black-color);
}

.vertical-divisor::before,
.vertical-divisor::after {
  content: "";
  display: block;
  position: absolute;
  left: 0.5px;
  width: 3px;
  height: 75px;
  background-color: var(--black-color);
  border-radius: 25px;
}

.vertical-divisor::before {
  top: 25px;
}

.vertical-divisor::after {
  bottom: 25px;
}

/* Select symbol scene */

.symbols-container,
.opponents-container {
  margin-top: 125px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.select-x-symbol,
.select-o-symbol {
  cursor: pointer;
}

.select-x-symbol path,
.select-o-symbol circle {
  stroke: var(--black-color);
  transition: stroke 200ms;
}

.select-x-symbol:hover path {
  stroke: var(--red-color);
  transition: stroke 200ms;
}

.select-o-symbol:hover circle {
  stroke: var(--blue-color);
  transition: stroke 200ms;
}

/* Select opponent scene */

.select-human-player,
.select-computer {
  cursor: pointer;
}

.select-human-player path,
.select-computer path {
  fill: var(--black-color);
  transition: fill 200ms;
}

.select-human-player:hover path {
  fill: var(--blue-color);
  transition: fill 200ms;
}

.select-computer:hover path {
  fill: var(--purple-color);
  transition: fill 200ms;
}

.select-computer {
  position: relative;
}

.difficulty-container {
  position: absolute;
  display: none;
  justify-content: space-between;
  width: 200px;
  top: 75px;
}

.select-computer:hover .difficulty-container {
  display: flex;
}

.small-vertical-divisor {
  width: 2px;
  height: 27px;
  background-color: var(--black-color);
}

/* Game scene */

.game-scene {
  display: flex;
  height: 100%;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 125px);
  grid-template-rows: repeat(3, 125px);
  margin: 80px 0;
}

.board-cell {
  --board-border: 2px solid var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-cell:nth-child(2),
.board-cell:nth-child(5),
.board-cell:nth-child(8) {
  border-left: var(--board-border);
  border-right: var(--board-border);
}

.board-cell:nth-child(4),
.board-cell:nth-child(5),
.board-cell:nth-child(6) {
  border-top: var(--board-border);
  border-bottom: var(--board-border);
}

.horizontal-divisor {
  width: 40px;
  height: 2px;
  background-color: var(--black-color);
}

.game-state {
  display: flex;
  align-items: center;
  gap: 70px;
}
