:root {
  --black-color: #323232;
  --gray-color: #bebebe;
  --hover-color: #e0e0e0;
  --white-color: #f8f8f8;
  --red-color: #f15e5e;
  --blue-color: #6194e0;
  --purple-color: #ac67e2;

  font-size: 28px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General elements styling */

body {
  height: 100vh;
  margin: 0;
  font-family: "Krona One", sans-serif;
  background-color: var(--white-color);
  color: var(--black-color);
}

/* Header */

header {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  margin-bottom: 75px;
  gap: 75px;
}

.header-title {
  font-size: 2rem;
  text-align: center;
  padding: 25px 0;
}

.back-button {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  cursor: pointer;
}

.back-button:hover {
  background-color: var(--hover-color);
}

.back-button path {
  stroke: var(--black-color);
}

.back-button.hide {
  visibility: hidden;
}

/* Scenes (general) */

.scenes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scenes > div {
  display: none;
}

.scenes > .open {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.scene-title {
  font-size: 1rem;
}

.vertical-divisor {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: var(--black-color);
}

.vertical-divisor::before,
.vertical-divisor::after {
  content: "";
  display: block;
  position: absolute;
  left: 0.5px;
  width: 3px;
  height: 75px;
  background-color: var(--black-color);
  border-radius: 25px;
}

.vertical-divisor::before {
  top: 25px;
}

.vertical-divisor::after {
  bottom: 25px;
}

/* Select symbol scene */

.symbols-container,
.opponents-container {
  margin-top: 125px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.select-x-symbol,
.select-o-symbol {
  cursor: pointer;
}

.select-x-symbol path,
.select-o-symbol circle {
  stroke: var(--black-color);
  transition: stroke 200ms;
}

.select-x-symbol:hover path {
  stroke: var(--red-color);
  transition: stroke 200ms;
}

.select-o-symbol:hover circle {
  stroke: var(--blue-color);
  transition: stroke 200ms;
}

/* Select opponent scene */

.select-human-player,
.select-computer {
  cursor: pointer;
}

.select-human-player path,
.select-computer path {
  fill: var(--black-color);
  transition: fill 200ms;
}

.select-human-player:hover path {
  fill: var(--blue-color);
  transition: fill 200ms;
}

.select-computer:hover path {
  fill: var(--purple-color);
  transition: fill 200ms;
}

.select-computer {
  position: relative;
}

.difficulty-container {
  position: absolute;
  display: none;
  justify-content: space-between;
  width: 200px;
  top: 75px;
}

.select-computer.active .difficulty-container {
  display: flex;
}

.small-vertical-divisor {
  width: 2px;
  height: 27px;
  background-color: var(--black-color);
}

/* Game scene */

.game-scene {
  display: flex;
  height: 100%;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 125px);
  grid-template-rows: repeat(3, 125px);
  margin: 80px 0;
}

.board-cell {
  --board-border: 2px solid var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-cell:nth-child(2),
.board-cell:nth-child(5),
.board-cell:nth-child(8) {
  border-left: var(--board-border);
  border-right: var(--board-border);
}

.board-cell:nth-child(4),
.board-cell:nth-child(5),
.board-cell:nth-child(6) {
  border-top: var(--board-border);
  border-bottom: var(--board-border);
}

.game-board .x-symbol path,
.game-board .o-symbol circle {
  stroke: var(--gray-color);
}

.game-board[data-turn="X"] .x-symbol path,
.board-cell.round-won .x-symbol path {
  stroke: var(--red-color);
}

.game-board[data-turn="O"] .o-symbol circle,
.board-cell.round-won .o-symbol circle {
  stroke: var(--blue-color);
}

.horizontal-divisor {
  width: 40px;
  height: 2px;
  background-color: var(--black-color);
}

.game-state {
  display: flex;
  align-items: center;
  gap: 70px;
}

.turn-symbols {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.turn-symbols .turn-label {
  font-size: 0.6rem;
}

.score-label {
  font-size: 1.8rem;
  width: 50px;
  height: 50px;
  text-align: center;
}

.turn-symbols .turn-label,
.score-label {
  color: var(--gray-color);
}

.turn-symbols path,
.turn-symbols circle {
  stroke: var(--gray-color);
}

.turn-symbols.x-symbol.active path {
  stroke: var(--red-color);
}

.turn-symbols.x-symbol.active .turn-label,
.turn-symbols.x-symbol.winning .turn-label,
.turn-symbols.x-symbol.winning .score-label {
  color: var(--red-color);
}

.turn-symbols.o-symbol.active circle {
  stroke: var(--blue-color);
}

.turn-symbols.o-symbol.active .turn-label,
.turn-symbols.o-symbol.winning .turn-label,
.turn-symbols.o-symbol.winning .score-label {
  color: var(--blue-color);
}

.game-state[data-score="false"] svg,
.game-state[data-score="true"] .score-label {
  display: block;
}

.game-state[data-score="true"] svg,
.game-state[data-score="false"] .score-label {
  display: none;
}
