:root {
  --black-color: #323232;
  --white-color: #f8f8f8;
  --red-color: #f15e5e;
  --blue-color: #6194e0;
  --purple-color: #ac67e2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Krona One", sans-serif;
  margin: 0;
  background-color: var(--white-color);
  color: var(--black-color);
}

.game-container {
  display: none;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}

.game-board > .board-cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
